*.pyc
*.iml
*.xml
staticfiles
/static/
env
db_postgres
/media/
fabfile.pyc
.vscode
/dashboard_vue/node_modules/
.env
/dashboard_vue/webpack-stats.json
/dashboard_vue/package-lock.json
rest.http
core/mysql_data/user.csv
scripts.py
/scripts/
docker-compose-local.yml
/CACHE/
/logs/
